<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/practice-plan"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon slot="start" name="close"></ion-icon>
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="activity">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input  [(ngModel)]="activity.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Duration</ion-label>
      <ion-input [(ngModel)]="activity.duration" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contact</ion-label>
      <ion-input [(ngModel)]="activity.contact"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Notes</ion-label>
    </ion-item>
      <quill-editor ion-textarea [(ngModel)]="activity.notes"> </quill-editor>
      <!-- <ion-textarea quill-editor  style="width: 100%" rows="20" ></ion-textarea> -->
  </ion-list>

 
  
</ion-content>