<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea auto-grow="true" type="text" [(ngModel)]="message"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="addNews()">Add News</ion-button>
</ion-content>