<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="user?.isCoach" slot="start">
      <ion-button (click)="viewTemplates($event)">
        <ion-icon slot="start" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Practice Plan</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="user?.isCoach" (click)="startPlan()">
        <ion-icon slot="start" name="timer"></ion-icon>
        Start
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>



  <ion-button color="dark"  [disabled]="!user?.isCoach" fill="clear"
    (click)="showCalendar = !showCalendar"> {{ (dayofweek) ? dayofweek  : "Enter Date" }}</ion-button>
  <ionic-calendar-date-picker *ngIf="showCalendar" style="max-width: 100px" (onSelect)="dateSelected($event)">
  </ionic-calendar-date-picker>

  <ion-button   [disabled]="!user?.isCoach" fill="clear" (click)="showStartTime = !showStartTime">{{ (!startTime) ? "Start Time" : startTime  }}</ion-button>

  <ion-item *ngIf="showStartTime">
    <ion-label position="stacked">Start Time</ion-label>
    <ion-datetime (ionChange)="updateStartTime()" displayFormat="hh:mm a"  pickerFormat="hh:mm a" [(ngModel)]="startTime"></ion-datetime>
  </ion-item>
  
  <ion-button fill="clear" (click)="viewWeeks($event)">Week {{ currentWeek.week}}</ion-button>
  <ion-button fill="clear" (click)="viewDays($event)">Day {{currentDay.day}}</ion-button>
  <ion-button *ngIf="user?.isCoach" [disabled]="defaultDay?.day == currentDay?.day && defaultWeek?.week == currentWeek?.week"
    fill="clear" (click)="makeCurrent()">Make Current</ion-button>
  <ion-list>
    <ion-item>
      <ion-label>
        <p>
             Total Time: {{ totalTime }} Minutes 
        </p>
      </ion-label>
      <ion-icon *ngIf="user?.isCoach" (click)="changeOrder = !changeOrder" slot="start" name="reorder"></ion-icon>
    </ion-item>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
      <ion-item *ngFor="let activity of activities">
        <ion-reorder *ngIf="changeOrder"></ion-reorder>
        <!-- <ion-note color="primary" *ngIf="!changeOrder" slot="start"> </ion-note> -->

        <ion-label style="font-size: 18px" ion-button color="dark" fill="clear"
          [routerLink]="['/view-activity', activity.id]">
          <h2> {{ activity.name }} </h2>
          <p>{{ (activity.duration == "New Duration" ) ? 0 : activity.duration }} minutes - {{ activity.time}} </p>
        </ion-label>
        <!-- <ion-input *ngIf="user?" [disabled]="changeOrder" [ngClass]="{'nonEdit' : editId != activity.id}"
          (ionFocus)="editId = activity.id; editname = activity.name" type="text" [(ngModel)]="activity.name">
        </ion-input> -->

        <ion-buttons slot="end">
          <ion-button *ngIf="user?.isCoach && activity.name != editname && editId != activity.id" fill="clear"
            [routerLink]="['/edit-activity', activity.id]"> Edit </ion-button>
          <ion-button *ngIf="activity.name != editname && editId != activity.id" fill="clear"
            [routerLink]="['/view-activity', activity.id]"> View </ion-button>
          <ion-button *ngIf="activity.name != editname && editId == activity.id" fill="clear"
            (click)="saveItem(activity)"> Save </ion-button>
          <ion-button
            *ngIf="activity.name != editname && editId == activity.id || activity.name == editname && editId == activity.id"
            fill="clear" (click)="cancelItem(activity)"> Cancel </ion-button>

        </ion-buttons>
      </ion-item>
    </ion-reorder-group>
    <ion-button fill="clear" *ngIf="user?.isCoach" (click)="newActivity()">
     New Activity
    </ion-button>
  </ion-list>




</ion-content>