<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="drill-library">
      <ion-icon name="american-football"></ion-icon>
      <ion-label>Drill Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="practice-plan">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Practice Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
        <ion-icon name="paper"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>