<ion-content>
  <ion-list-header>Templates</ion-list-header>
  <ion-item (click)="saveTemplate()">
    <ion-label>Save as Template</ion-label>
  </ion-item>
  <ion-item *ngFor="let template of templates">

    <ion-grid>
      <ion-row>
        <ion-col>
          {{ template?.name }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="font-size: 15px; color: #807f7f" (click)="confirmCreate(template)">Create from template</p>
          <p style="font-size: 15px; color: #807f7f" (click)="confirmDelete(template)">Delete template</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="confirmDeleteEvent()">
    <ion-label color="danger">Delete All Activitie</ion-label>
  </ion-item>

</ion-content>