<ion-header>
  <ion-toolbar>
    <ion-title>
      Oh Shit
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showLogin()">
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 60%" padding-none>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col style="margin: auto" padding-none size-sm="4" offset-sm="4">
        <ion-card style="vertical-align: middle; ">
          <ion-card-content>
            <ion-label text-center>
              <h2 *ngIf="!currentEvent">No Active asdfEvent Groups</h2>
              <h2>{{ currentEvent?.name }}</h2>
            </ion-label>
          </ion-card-content>
          <ion-card-header text-center>
            <ion-card-title>{{ time }}</ion-card-title>
          </ion-card-header>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>